:root {
  --fs-xl: 3rem;
  --fs-l: 2rem;
  --fs-base: 1.6rem;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  background-color: #000;
  color: #fff;
  font-size: var(--fs-base);
}
