.calculator {
  width: 100%;
}
.screen {
  padding: 4rem;
  text-align: end;
  font-size: var(--fs-xl);
}
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
}
